node_red_flows.json
[
    {
        "id": "cedfe630b98c7f66",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "568b0f2c9ee330c5",
        "type": "http request",
        "z": "cedfe630b98c7f66",
        "name": "loadshedding area info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://developer.sepush.co.za/business/2.0/area?id=capetown-5-claremont&token=79850832-F48F4D3D-B4B1022A-69D54317&name=Claremont (5)&region=City of Cape Town&events=current&token=79850832-F48F4D3D-B4B1022A-69D54317",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "other",
                "valueValue": "79850832-F48F4D3D-B4B1022A-69D54317"
            }
        ],
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "bcbdca4c7d9267ca",
                "6c6b61139e7fdc07"
            ]
        ]
    },
    {
        "id": "bcbdca4c7d9267ca",
        "type": "file",
        "z": "cedfe630b98c7f66",
        "name": "ls area ",
        "filename": "/Users/talialevin/Home_Energy_System/data_skripsie_nodered/loadshedding_area.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1290,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6c6b61139e7fdc07",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "ls area",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 540,
        "wires": []
    },
    {
        "id": "b0f5c5283887e40d",
        "type": "http request",
        "z": "cedfe630b98c7f66",
        "name": "loadshedding status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://developer.sepush.co.za/business/2.0/status?&token=79850832-F48F4D3D-B4B1022A-69D54317",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "other",
                "valueValue": "79850832-F48F4D3D-B4B1022A-69D54317"
            }
        ],
        "x": 1080,
        "y": 600,
        "wires": [
            [
                "29e12dd59dfb1761",
                "4793f874a80992cf"
            ]
        ]
    },
    {
        "id": "29e12dd59dfb1761",
        "type": "file",
        "z": "cedfe630b98c7f66",
        "name": "ls status",
        "filename": "/Users/talialevin/Home_Energy_System/data_skripsie_nodered/loadshedding_status.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1300,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4793f874a80992cf",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "ls status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 640,
        "wires": []
    },
    {
        "id": "9d410b14c7981279",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 600,
        "wires": [
            [
                "b0f5c5283887e40d"
            ]
        ]
    },
    {
        "id": "dfd5fc34cd4a1556",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "568b0f2c9ee330c5"
            ]
        ]
    },
    {
        "id": "a7ee115dbbff2ad0",
        "type": "exec",
        "z": "cedfe630b98c7f66",
        "command": "node /Users/talialevin/Home_Energy_System/inverter_data.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get Inverter Data",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "cd5443bbc44d82ce"
            ],
            [
                "ce311daaaa633fa7"
            ],
            [
                "98160a3cb2045e4d"
            ]
        ]
    },
    {
        "id": "584479ea736615ba",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "a7ee115dbbff2ad0"
            ]
        ]
    },
    {
        "id": "cd5443bbc44d82ce",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stdout inv",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "ce311daaaa633fa7",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stderr inv",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "98160a3cb2045e4d",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "code inv",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "82fc2073dd126615",
        "type": "exec",
        "z": "cedfe630b98c7f66",
        "command": "node /Users/talialevin/Home_Energy_System/one_day_inv_data.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Inverter Data Today",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "018321d010e08af8"
            ],
            [
                "008ce72b670d85a3"
            ],
            [
                "9d166a55fada3109"
            ]
        ]
    },
    {
        "id": "d9a02749be0518a7",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "82fc2073dd126615",
                "ebb56c0e8a8cc935"
            ]
        ]
    },
    {
        "id": "018321d010e08af8",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stdout today inv",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "008ce72b670d85a3",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stderrr today inv",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "9d166a55fada3109",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "code today inv",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "810dfa0ef1c9a580",
        "type": "exec",
        "z": "cedfe630b98c7f66",
        "command": "/usr/local/bin/python3 /Users/talialevin/Home_Energy_System/analytics_freq.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "py forecasting",
        "x": 460,
        "y": 660,
        "wires": [
            [
                "026483b0c067c24b"
            ],
            [
                "fad4300de6aacc4f"
            ],
            [
                "58efce5ec7bfe394"
            ]
        ]
    },
    {
        "id": "026483b0c067c24b",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stdout py",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "fad4300de6aacc4f",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stderr py",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "58efce5ec7bfe394",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "return py",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 700,
        "wires": []
    },
    {
        "id": "cde7219ae8efec11",
        "type": "exec",
        "z": "cedfe630b98c7f66",
        "command": "node /Users/talialevin/Home_Energy_System/set_battery.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "change battery %?",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "6959ab31a2f7e2d3"
            ],
            [
                "dcc82db442ed39a9"
            ],
            [
                "3318172ddf9dd156"
            ]
        ]
    },
    {
        "id": "6959ab31a2f7e2d3",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stdout %",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "dcc82db442ed39a9",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stderr %",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "3318172ddf9dd156",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "code %",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 440,
        "wires": []
    },
    {
        "id": "f55e00dfd113522c",
        "type": "exec",
        "z": "cedfe630b98c7f66",
        "command": "node /Users/talialevin/Home_Energy_System/sonoff_load_sim.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "load simulation",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "f6c896c337b1efcf"
            ],
            [
                "d5d57854847e767c"
            ],
            [
                "3fc8e5d75f1d6751"
            ]
        ]
    },
    {
        "id": "f892f9b23feabb19",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "current",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 7-16 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "f55e00dfd113522c"
            ]
        ]
    },
    {
        "id": "f6c896c337b1efcf",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stdout load",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "d5d57854847e767c",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stderr load",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "3fc8e5d75f1d6751",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "return load",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "63794f5fcba9b438",
        "type": "file in",
        "z": "cedfe630b98c7f66",
        "name": "inverter data",
        "filename": "/Users/talialevin/Home_Energy_System/data_skripsie_nodered/one_day_inverter_data.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1030,
        "y": 700,
        "wires": [
            [
                "cbc4ac183d7bb81c"
            ]
        ]
    },
    {
        "id": "57c4d43341e89942",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "660",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 700,
        "wires": [
            [
                "63794f5fcba9b438"
            ]
        ]
    },
    {
        "id": "cbc4ac183d7bb81c",
        "type": "function",
        "z": "cedfe630b98c7f66",
        "name": "current %",
        "func": "let data = msg.payload;\n\ndata = JSON.parse(data)\n\nlet firstRecord = data.day_7_page_1.record[0];\n\n\nlet batteryEnergy = 'batteryEnergy(%)/184'\nmsg.payload = firstRecord['batteryEnergy(%)/184']\n// let batteryEnergy = firstRecord[\"batteryEnergy(%)/184\"];\n\n// // Set the extracted value as the new payload\n// msg.payload = parseInt(batteryEnergy)\n\n// msg.payload = battEnergyArr\n// msg.payload = batteryEnergy\n// msg = output.day_0_page_1.record.\"batteryEnergy(%)/184\"\n// let soc = \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 700,
        "wires": [
            [
                "9393c1c74c7911f2",
                "51dd618f296c1b29"
            ]
        ]
    },
    {
        "id": "9393c1c74c7911f2",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "current",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 740,
        "wires": []
    },
    {
        "id": "51dd618f296c1b29",
        "type": "file",
        "z": "cedfe630b98c7f66",
        "name": "write %",
        "filename": "/Users/talialevin/Home_Energy_System/data_skripsie_nodered/battery_percent_current.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1320,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "af3b230b5cbdd5db",
        "type": "exec",
        "z": "cedfe630b98c7f66",
        "command": "node /Users/talialevin/Home_Energy_System/sonoff_state.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get sonoff state",
        "x": 980,
        "y": 140,
        "wires": [
            [
                "5707705f03b75dfc",
                "e269e4fa0a7054c4"
            ],
            [
                "a79d1ca07e656ae6"
            ],
            [
                "d1fb64f17e95d7c7"
            ]
        ]
    },
    {
        "id": "a86fc09dd203015d",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "current",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 810,
        "y": 140,
        "wires": [
            [
                "af3b230b5cbdd5db"
            ]
        ]
    },
    {
        "id": "5707705f03b75dfc",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stdout state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "a79d1ca07e656ae6",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "stderr state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1fb64f17e95d7c7",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "return state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "941c378f89f55e4b",
        "type": "http request",
        "z": "cedfe630b98c7f66",
        "name": "weather - historical",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/cape%20town/last7days?unitGroup=metric&elements=datetime%2CdatetimeEpoch%2Csolarradiation%2Csolarenergy&include=fcst%2Cdays%2Chours%2Cstatsfcst%2Cobs%2Cstats%2Cremote&key=EGD65QAJLBRFVP8ZCJMQFQ7BY&contentType=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "d1840ecaf9732f1b",
                "40e530bc86098667"
            ]
        ]
    },
    {
        "id": "d1840ecaf9732f1b",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "historical",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 440,
        "wires": []
    },
    {
        "id": "40e530bc86098667",
        "type": "file",
        "z": "cedfe630b98c7f66",
        "name": "historical",
        "filename": "/Users/talialevin/Home_Energy_System/data_skripsie_nodered/weather_data_historical.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1300,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a532724072becf28",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 400,
        "wires": [
            [
                "941c378f89f55e4b"
            ]
        ]
    },
    {
        "id": "2710a3b530a13cb5",
        "type": "http request",
        "z": "cedfe630b98c7f66",
        "name": "weather - visual crossing",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Cape%20Town/next7days?unitGroup=metric&elements=datetime%2CdatetimeEpoch%2Ctemp%2Cwindspeed%2Ccloudcover%2Csolarradiation%2Csolarenergy%2Cconditions%2Cdescription&include=hours%2Cdays&key=EGD65QAJLBRFVP8ZCJMQFQ7BY&contentType=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "34bce920b1fc8a5c",
                "3bac9a6905375ece"
            ]
        ]
    },
    {
        "id": "34bce920b1fc8a5c",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "weather",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 340,
        "wires": []
    },
    {
        "id": "c19424d3c0a11e08",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "2710a3b530a13cb5"
            ]
        ]
    },
    {
        "id": "3bac9a6905375ece",
        "type": "file",
        "z": "cedfe630b98c7f66",
        "name": "weather data",
        "filename": "/Users/talialevin/Home_Energy_System/data_skripsie_nodered/weather_data.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0b0e2cb23f9c5623",
        "type": "file",
        "z": "cedfe630b98c7f66",
        "name": "state file",
        "filename": "/Users/talialevin/Home_Energy_System/data_skripsie_nodered/sonoff_status.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "setbymsg",
        "x": 1080,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8b9dc15df8198b56",
        "type": "debug",
        "z": "cedfe630b98c7f66",
        "name": "debug fxn",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "e269e4fa0a7054c4",
        "type": "function",
        "z": "cedfe630b98c7f66",
        "name": "switch function",
        "func": "let output = msg.payload\nlet currentState = output\n// let currentState = output.trim()\nlet previousState = context.get('previousState') || null;\npreviousState = JSON.parse(previousState)\n\n// let lines = current.split(\"\\n\")\n// let noOfLines = lines.length\n// let recentStatus = lines[noOfLines - 1].toString().substring(29,)\n// recentStatus = JSON.parse(recentStatus)\n// let currentStat = recentStatus.StatusSTS.POWER\n\nif(currentState == 'ON' || currentState == 'OFF' || currentState === null) {\n    if (currentState !== previousState) {\n        context.set('previousState', currentState);\n        msg.payload = JSON.parse(currentState);\n        return msg;\n    }\n\n    else if (currentState === previousState) {\n        return null\n    }\n}\nelse {\n    currentState = 'Switch state currently unavaliable'\n    previousState = 'Switch state currently unavaliable'\n    if (currentState !== previousState) {\n        msg.payload = 'Switch state currently unavaliable'\n        return msg\n    }\n}\n\n// let output = msg.payload\n// output = JSON.parse(output)\n\n// msg.payload = output\n\n// return msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 220,
        "wires": [
            [
                "8b9dc15df8198b56",
                "0b0e2cb23f9c5623"
            ]
        ]
    },
    {
        "id": "3a4d3e8568eeb04b",
        "type": "inject",
        "z": "cedfe630b98c7f66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "current",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 0-22 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "cde7219ae8efec11"
            ]
        ]
    },
    {
        "id": "ebb56c0e8a8cc935",
        "type": "delay",
        "z": "cedfe630b98c7f66",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 660,
        "wires": [
            [
                "810dfa0ef1c9a580"
            ]
        ]
    }
]